<link rel="stylesheet" href="{{ url_for('static', filename='css/ui/tabs/information-panel.css') }}">
<div class="tab-header">Graph Information</div>
<hr>

{% macro info_label(label, id) %}
<div class="info-label flex-1">
    {{ label }}:<span id="{{ id }}" class="info-value"></span>
</div>
{% endmacro %}

<div id="graph-info" class="flex-1">
    <div id="info-debug-container">
        <div style="font-weight: bold;">DEBUG INFO (experimental)</div>
        {{ info_label('FPS', 'info-fps') }}
        {{ info_label('Screen', 'info-screen-coordinates') }}
        {{ info_label('Canvas', 'info-canvas-coordinates') }}
        {{ info_label('Nodes Drawn', 'info-graph-nodes') }}
        {{ info_label('Edges Drawn', 'info-graph-links') }}
        <button id="info-neo4j-link" title="Neo4j Browser" class="info-value">Neo4j Browser</button>

    </div>

      {{ info_label('Node ID', 'info-node-id') }}
      {{ info_label('Node Type', 'info-node-type') }}
      {{ info_label('Chromosome', 'info-chromosome') }}
      {{ info_label('Start', 'info-start') }}
      {{ info_label('End', 'info-end') }}
      {{ info_label('Length', 'info-length') }}
      {{ info_label('Sequence', 'info-sequence') }}        
      <button id="info-copy-sequence" title="Copy sequence" class="info-value"><i class="fa fa-copy"></i></button>

      <!-- For optional labels -->
      {{ info_label('Size', 'info-size') }}
      {{ info_label('Subtype', 'info-subtype') }}
      {{ info_label('Number Inside', 'info-number-inside') }}

</div>

<script src="{{url_for('static', filename='js/ui/tabs/information-panel.js')}}"></script>