<div id="tabs-container" class="flex-1 flex-col">
    <div class="tab-buttons">
        <button class="tab-button" onclick="switchTab('keyboard-shortcuts-tab')"><i class="fa-solid fa-keyboard"></i></button>
        <button class="tab-button" onclick="switchTab('graph-info-tab')"><i class="fa-solid fa-rectangle-list"></i></button>
        <button class="tab-button" onclick="switchTab('graph-settings-tab')"><i class="fa-solid fa-gear"></i></button>
    </div>

    <div id="keyboard-shortcuts-tab" class="tab-content active-tab-content flex-9"> {% include 'tabs/keyboard-shortcuts.html' %} </div>
    <div id="graph-info-tab" class="tab-content flex-9"> {% include 'tabs/graph-info.html' %} </div>
    <div id="graph-settings-tab" class="tab-content flex-9"> {% include 'tabs/graph-settings.html' %} </div>

</div>
