#color-div{
    display:flex;
}
#color-style-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
}

#color-picker-node-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52%;
}

#color-picker-etc-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
}

#gradient-display {
    height: 95%;
    border: 1px solid var(--dark-green);
    border-radius: 5px;
}
#color-picker-manual{
    display: flex;
    justify-content: space-between;
}

#preset-color-container{
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
}

.color-style-btn{
    height: 95%;
    padding: 2px;
}
.color-picker {
    margin: 2px;
} 
.preset-color {
    margin: 5px;
    cursor: pointer;
    padding: 7px;
    flex: 1;
}



input[type="color"] {
    cursor: pointer;
    height: 2em;
    border-radius: 2px;
    padding: 0;
    border-width: 0px;
    box-shadow: 1px 1px 3px 0px var(--font-color);
    margin: 1em;
}
