#position-div{
    display: flex;
}

#gene-search-container{
    flex: 4;
} 

#go-container{
    flex: 2;
} 

#coordinate-container{
    flex: 3;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
#go-button{
    flex: 1;
}

#coordinate-select-container{
    display: flex;
    align-items: center;
    column-gap: 10px;
}

#coordinate-text-box-container{
    flex: 9;
} #coordinate-text-box{
    width: 95%;
} 

#coordinate-button{
    flex: 1;
    height: 100%;
}

#go-container-content{
    display: flex;
    row-gap: 10px;
} #go-chrom-start-end{
    position: relative;
    flex: 4;
    display: flex;
    justify-content: space-around;
    border-radius: 5px;
    border-style: solid;
    border-color: var(--dark-green);
    padding: 5px;
    transition: background-color 0.3s;
    align-items: center;
}


.important-text{
    color: var(--font-color);
    text-shadow:  2px 2px rgba(0, 0, 0, 0.1);
} .less-important-text{
    color: var(--font-color);
}
