#cytoband-div{
    display: flex;
}

#genome-container{
    flex: 1;
} #chromosome-container{
    flex: 2;
}

#genome-cytoband-container{
    display: flex;
    flex-direction: column;
}

.genome-annotation-chr{
    font-size: 0.8em;
}.chromosome-band{
    pointer-events: none;
} .chromosome-selection-genome{
    fill: var(--light-green);
} .chromosome-selection-genome:hover{
    fill: var(--highlight);
    cursor: pointer;
} .chromosome-selection-highlight{
    fill: var(--highlight) !important;
} .chromosome-label-text {
    fill: var(--font-color);
} .chromosome-label-highlight{
    fill: var(--highlight) !important;
    fill-opacity: 1;
}

#other-chr-selector-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 10px;
    order: 99;
} #other-chr-selector{
    width: 12em;
} #other-chr-label{
    padding: 1px;
} .text-highlight{
    background-color: var(--highlight);
}

#chromosome-features-container{
    display: flex;
    flex-direction: column;

} #chromosome-cytoband-container{
    background-color: var(--light-green);
    padding-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;

} .chromosome-annotation-band{
    font-size: 0.5em;
}

