#cytoband-div{
    display: flex;
}

#genome-container{
    margin:5px;
    width: 34%;
} #chromosome-container{
    width: 67%;
}
.genome-annotation-chr{
    font-size: 0.8em;
}

.chromosome-band{
    pointer-events: none;
} .chromosome-selection-genome{
    fill: var(--light-green);
} .chromosome-selection-highlight{
    fill: var(--highlight) !important;
} .chromosome-selection-genome:hover{
    fill: var(--highlight);
    cursor: pointer;
}

#other-chr-selector-container{
    text-align: right;
}

.annotation-text {
    fill: var(--darker-green);
}
.annotation-highlight-label{
    fill: black;
}


#chromosome-cytoband-container{
    background-color: var(--light-green);
    padding-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;

} .chromosome-annotation-band{
    font-size: 0.5em;
}

