#cytoband-div{
    display: flex;
}

#genome-container{
    flex: 1;
} #chromosome-container{
    flex: 2;
}

#genome-container-content{
    display: flex;
    flex-direction: column;
}

.genome-annotation-chr{
    font-size: 1em;
}.chromosome-band{
    pointer-events: none;
} .chromosome-selection-genome{
    fill: var(--light-green);
} .chromosome-selection-genome:hover{
    fill: var(--highlight);
    cursor: pointer;
} .chromosome-selection-highlight{
    fill: var(--highlight) !important;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
} .chromosome-label-text {
    fill: var(--font-color);
} .chromosome-label-highlight{
    fill: var(--highlight) !important;
    fill-opacity: 1;
}

#other-chr-selector-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 10px;
    order: 99;
} #other-chr-selector{
    width: 12em;
} #other-chr-label{
    padding: 1px;
} .text-highlight{
    background-color: var(--highlight);
}


#chromosome-container-content{
    display: flex;
    justify-content: center;
    align-items: center;
} #chromosome-cytoband-container{
    flex: 1;
}.chromosome-annotation-band{
    font-size: 0.6em;
} .chromosome-background{
    fill: var(--light-green);
} .chromosome-label-text{
    fill: var(--font-color);
    user-select:none;
} .chromosome-selection-box{
    stroke: var(--font-color);
    fill: var(--highlight) !important;
    fill-opacity: 0.2;
    stroke-dasharray: 5 2;
}

.no-chromosome-data-info{
    font-size: large;
    text-align: center;
    color: var(--dark-green);
}

