#gene-search-container-content{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 10px;
}
.suggestions-dropdown {
    display: none;
    position: absolute;
    border: 1px solid #ccc;
    border-top: none;
    z-index: 99;
    max-height: 20em;
    min-width: 20em;
    top: auto;
    left: 0;
    overflow-y: auto;
    background-color: #fff;
}

.suggestions-dropdown.active {
    display: block;
}

.suggestion-item {
    color: var(--font-color);
    padding: 5px;
    outline: none;
    border-bottom: 2px dotted var(--lighter-green);
}

.suggestion-item:hover,
.suggestion-item:focus {
    cursor: pointer;
    background-color: var(--highlight);
}

.suggestion-item-line{
    display: flex;
    align-items: center;
    justify-content: left;
    column-gap: 3px;
} .suggestion-item-chrom{
    background-color: var(--lighter-green);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-size: small;
    padding: 3px;
} .suggestion-item-name{
    font-weight: bold;
}

.suggestion-item-geneid{
    font-style: italic;
    font-size: small;
} .suggestion-item-type{
    font-size: xx-small;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 3px;
}