body {
    background-color: var(--site-background);
}

.fixed-height-1{
    height: var(--fixed-height-1);
}
.fixed-height-2{
    height: var(--fixed-height-2);
}

.container {
    background-color: var(--lighter-green);
    border-radius: 5px;
    margin: 5px;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
} .container::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.container-title {
    height: var(--title-height);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    text-align: center;
    color: var(--font-color);
    background: var(--light-green);
}

.container-content {
    display: flex;
    column-gap: 10px;
    margin: 10px;
    height: calc(100% - var(--title-height) - 20px);
}

button {
    background-color: var(--light-green);
    border: none;
    color: var(--font-color);
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.2s ease;
    font-size: large;
} button:hover {
    background-color: var(--highlight);
} button:active {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    transform: scale(0.95);
    background-color: var(--darker-green);
    color: var(--light-green);
}

#copyPopup {
    position: absolute;
    background-color: var(--darker-green);
    color: var(--lighter-green);
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 100;
    transition: opacity 0.5s;
    opacity: 1;
}

@keyframes shake {
    0%, 100% { transform: translateX(0); }
    25% { transform: translateX(-3px); }
    75% { transform: translateX(3px); }
}

.shake {
    animation: shake 0.2s;
    animation-iteration-count: 2;
}

.error-input {
    border-color: var(--error);
}