:root {
    --highlight: seagreen;
    --not-highlight: #33473c;
  }

.annotation-highlight{
    fill: var(--highlight) !important;
    fill-opacity: 0.5;
    rx: 5px;
}

#cytoband-container{
    display: flex;

}

#genome-cytoband{
    background-color: #ceded5;
    padding:10px;
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
    overflow-x: auto;

    .genome-annotation-chr{
        font-size: 0.8em;
    }

    .chromosome-band{
        pointer-events: none;
    }

    .chromosome-selection-genome{
        fill: var(--not-highlight);
    }
    .chromosome-selection-highlight{
        fill: var(--highlight) !important;
    }
    .chromosome-selection-genome:hover{
        fill: var(--highlight);
        cursor: pointer;
    }

}


.annotation-highlight-label{
    fill: black;
}

#chromosome-cytoband{
    background-color: #ceded5;
    border-radius: 10px;
    width: 98vw;
    margin-right: auto;
    margin-left: auto;
    overflow-x: auto;


    .chromosome-annotation-band{
        font-size: 0.6em;
    }
    
}

#graph-container {
    position: relative;
}
#graph-info {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    z-index: 10;
  }

#graph-info div {
    margin-bottom: 5px;
}
#graph-info span {
    font-weight: bold;
}
#info-copy-sequence {
    margin-left: 5px;
    cursor: pointer;
}
#boxSelect {
    position: absolute;
    z-index: 100;
    border-style: dotted;
    border-color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.2);
    pointer-events: none;
}