.graph-setting{
    min-height: 3em;
}

.graph-setting-label{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.graph-setting-value{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.graph-setting-reset-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0 5px;
    vertical-align: middle;
}

.graph-setting-value{
    font-family: monospace;
}

.reset-button-default i {
    color: grey;

}

.reset-button-modified i {
    color: #007bff;
}

.reset-all-button {
    border: none;
    border-radius: 6px;
    cursor: pointer;
    padding: 10px;
}
.reset-all-button:hover {
    color: white;

    background-color: #007bff;
}
