.path-selector-dropdown {
    border-radius: 3px;
    padding: 10px 20px;  
    background-color: #ffffff;
    width: 95%;
    color: var(--text-color);  
}

.path-selector-dropdown:focus {
    background-color: var(--highlight);
}
