<div id="citationModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        
        <h2>
            PangyPlot
            <a href="https://github.com/ScottMastro/pangyplot" target="_blank"><i class="fa-brands fa-github"></i></a>
        </h2>
        <p>Pangenome graph visualization software.</p>
        <span class="citation-container">
            <img alt="PangyPlot logo" class="citation-logo" src="{{ url_for('static', filename='images/pangyplot_logo.svg') }}">
            <p>
                Mastromatteo, Scott. 
                <b>PangyPlot: a paper title</b>. 
                <i>Journal</i>. 2024 XXX;Y(ZZZ):N-M.
                doi: <a href="https://doi.org/DOI" target="_blank">DOI</a>.
            </p>
        </span>
        <hr>
        <details>
        <summary>Supporting work</summary>
        <h2>
            Human Pangenome Reference Consortium
            <a href="https://github.com/human-pangenomics/hpp_pangenome_resources" target="_blank"><i class="fa-brands fa-github"></i></a>
        </h2>
        <p>Pangenome reference data source.</p>
        <span class="citation-container">
            <img alt="HPRC logo" class="citation-logo" src="{{ url_for('static', filename='images/hprc_logo.png') }}">
            <p>
                Human Pangenome Reference Consortium. 
                <b>A draft human pangenome reference</b>. 
                <i>Nature</i>. 2023 May;617(7960):312-324.
                doi: <a href="https://doi.org/10.1038/s41586-023-05896-x" target="_blank">10.1038/s41586-023-05896-x</a>.
            </p>
        </span>
        <hr>
        <h2>
            BubbleGun
            <a href="https://github.com/fawaz-dabbaghieh/bubble_gun" target="_blank"><i class="fa-brands fa-github"></i></a>
        </h2>
        <p>Used for calculating graph hierarchical structure.</p>
        <span class="citation-container">
            <img alt="BubbleGun logo" class="citation-logo" src="{{ url_for('static', filename='images/bubble_gun_logo.png') }}">
            <p>
                Dabbaghie F, Ebler J, Marschall T.
                <b>BubbleGun: enumerating bubbles and superbubbles in genome graphs</b>.
                <i>Bioinformatics</i>. 2022 Sep 2;38(17):4217-4219.
                doi: <a href="https://doi.org/10.1093/bioinformatics/btac448" target="_blank">10.1093/bioinformatics/btac448</a>.
            </p>
        </span>
    </details>
    </div>
</div>
