
<div id="genome-container" class="container">
    <div class="container-title">Chromosome Selector</div>
    
        <div id="genome-container-content" class="container-content">
            <!-- The figure will be appended here by JavaScript -->

            <div id="other-chr-selector-container">
                <div id="other-chr-label">Other</div>
                <i class="fa-solid fa-right-long"></i>

                <select id="other-chr-selector" name="chr-selector">
                    <!-- The options will be appended here by JavaScript -->
                </select>
            </div>       
        </div> 
</div>

<div id="chromosome-container" class="container">
    <div class="container-title">Locus Selector</div>

    <div id="chromosome-container-content" class="container-content">

        <div id="chromosome-cytoband-container">
            <!-- The figure will be appended here by JavaScript -->
        </div>

        <div id="filter">
            
            <label for="start-coord">Start:</label>
            <input type="text" id="start-coord" name="start-coord">
            <label for="end-coord">End:</label>
            <input type="text" id="end-coord" name="end-coord"> 
        </div>
        
    </div>   
</div>
