<div class="loader-filter"></div>
<div class="loader"></div>

<div id="graph-info">
    <div>Node ID: <span id="info-node-id"></span></div>
    <div>Node Type: <span id="info-node-type"></span></div>
    <div>Chromosome: <span id="info-chromosome"></span></div>
    <div>Start: <span id="info-start"></span></div>
    <div>End: <span id="info-end"></span></div>
    <div>Length: <span id="info-length"></span></div>
    <div>Sequence: <span id="info-sequence"></span>
        <button id="info-copy-sequence" title="Copy sequence"><i class="fa fa-copy"></i></button>
    </div>
    <div id="optional-size" style="display: none;">Size: <span id="info-size"></span></div>
    <div id="optional-subtype" style="display: none;">Subtype: <span id="info-subtype"></span></div>
    <div id="optional-number-inside" style="display: none;">Number Inside: <span id="info-number-inside"></span></div>
</div>
<div id="graph"></div>