<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>PangyPlot</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.svg') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/all.min.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">   
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fonts.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ui/navbar-style.css') }}">   
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ui/modal-style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cytoband/cytoband-style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ui/gene-search-style.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/ui/coordinates-style.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/ui/option-button.css') }}">   
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ui/color-picker.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/graph/graph.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/ui/tabs/keyboard-shortcuts.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ui/tabs/information-panel.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ui/tabs/graph-settings.css') }}">

    {% include 'google-analytics.html' %}

</head>

<body class="flex-col">

{% include 'navbar-template.html' %}

 <!--<select id="db-selection"> </select>-->

{% include 'cytoband-template.html' %}

<div class="flex-row fixed-height-1">

    {% include 'gene-search-template.html' %}
    {% include 'coordinate-template.html' %}

</div>


<div id="graph-container" class="graph-container-empty">

    <div class="loader-filter"></div>
    <div class="loader"></div>
    
    <div class="flex-row">
    
        <div id="graph" class="flex-1" tabindex="0"></div>
        <div id="tabs-container" class="flex-1 flex-col">
            <div class="tabs">
                <button class="tab" onclick="switchTab('graph-info-tab')"><i class="fa-solid fa-rectangle-list"></i></button>
                <button class="tab" onclick="switchTab('graph-settings-tab')"><i class="fa-solid fa-gear"></i></button>
                <button class="tab" onclick="switchTab('keyboard-shortcuts-tab')"><i class="fa-solid fa-keyboard"></i></button>
            </div>

            <div id="graph-info-tab" class="tab-content active-tab-content flex-9"> {% include 'graph-info.html' %} </div>
            <div id="graph-settings-tab" class="tab-content flex-9"> {% include 'graph-settings.html' %} </div>
            <div id="keyboard-shortcuts-tab" class="tab-content flex-9"> {% include 'keyboard-shortcuts.html' %} </div>

        </div>
        
    </div>
</div>


<div class="flex-row fixed-height-1">
    
    {% include 'color-picker.html' %}

</div>

<div class="flex-row fixed-height-1">

    <div id="graph-options" class="container flex-1">
        <div class="container-title">Graph Options</div>

        <div class="container-content flex-row">
            <div id="download-image-button" class="button-style flex-col">
                <i class="fa-solid fa-download font-2em"></i><br>
                Download Image
            </div>

            
        </div>
    </div>

    <div id="path-selection" class="container flex-1">
        <div class="container-title">Path Selection</div>

        <select id="path-selector" name="path-selector">
            <!-- The options will be appended here by JavaScript -->
        </select>
        <input type="submit" value="Submit">
    
    </div>
</div>


<script src="{{url_for('static', filename='js/d3/d3.js')}}"></script>
<script src="{{url_for('static', filename='js/d3/d3-annotation.min.js')}}"></script>
<script src="{{url_for('static', filename='js/d3/force-graph.min.js')}}"></script>

<script src="{{url_for('static', filename='js/ui/navbar.js')}}"></script>
<script src="{{url_for('static', filename='js/ui/modal.js')}}"></script>
<script src="{{url_for('static', filename='js/ui/option-button.js')}}"></script>
<script src="{{url_for('static', filename='js/ui/color-picker.js')}}"></script>
<script src="{{url_for('static', filename='js/ui/gene-search.js')}}"></script>
<script src="{{url_for('static', filename='js/ui/coordinates.js')}}"></script>
<script src="{{url_for('static', filename='js/ui/download-image.js')}}"></script>

<script src="{{url_for('static', filename='js/cytoband/other-chromosomes.js')}}"></script>
<script src="{{url_for('static', filename='js/cytoband/cytoband.js')}}"></script>
<script src="{{url_for('static', filename='js/cytoband/cytoband-genome.js')}}"></script>
<script src="{{url_for('static', filename='js/cytoband/cytoband-genome-drawer.js')}}"></script>
<script src="{{url_for('static', filename='js/cytoband/cytoband-chromosome.js')}}"></script>
<script src="{{url_for('static', filename='js/cytoband/cytoband-chromosome-drawer.js')}}"></script>


<script src="{{url_for('static', filename='js/graph/graph.js')}}"></script>

<script src="{{url_for('static', filename='js/graph/graph-input-state.js')}}"></script>
<script src="{{url_for('static', filename='js/graph/managers/input-manager.js')}}"></script>
<script src="{{url_for('static', filename='js/graph/managers/render-manager.js')}}"></script>
<script src="{{url_for('static', filename='js/graph/managers/color-manager.js')}}"></script>
<script src="{{url_for('static', filename='js/graph/managers/node-manager.js')}}"></script>
<script src="{{url_for('static', filename='js/graph/managers/link-manager.js')}}"></script>
<script src="{{url_for('static', filename='js/graph/managers/path-manager.js')}}"></script>


<script src="{{url_for('static', filename='js/graph/engines/basic-render-engine.js')}}"></script>
<script src="{{url_for('static', filename='js/graph/engines/collapse-engine.js')}}"></script>
<script src="{{url_for('static', filename='js/graph/engines/shrink-engine.js')}}"></script>
<script src="{{url_for('static', filename='js/graph/engines/selection-engine.js')}}"></script>
<script src="{{url_for('static', filename='js/graph/engines/gene-highlight-engine.js')}}"></script>
<script src="{{url_for('static', filename='js/graph/engines/node-pop-engine.js')}}"></script>
<script src="{{url_for('static', filename='js/graph/engines/graph-setting-engine.js')}}"></script>
<script src="{{url_for('static', filename='js/graph/engines/annotation-engine.js')}}"></script>


<script src="{{url_for('static', filename='js/graph/utils/color-utils.js')}}"></script>
<script src="{{url_for('static', filename='js/graph/utils/draw-utils.js')}}"></script>
<script src="{{url_for('static', filename='js/graph/utils/node-utils.js')}}"></script>
<script src="{{url_for('static', filename='js/graph/utils/network-utils.js')}}"></script>


<script src="{{url_for('static', filename='js/ui/tabs/tabs.js')}}"></script>
<script src="{{url_for('static', filename='js/ui/tabs/information-panel.js')}}"></script>
<script src="{{url_for('static', filename='js/ui/tabs/graph-settings.js')}}"></script>


</body>
</html>

