<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>grapher</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename= 'favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">   

    <script src="{{url_for('static', filename='javascript/force-graph.min.js')}}"></script>
    <script src="{{url_for('static', filename='javascript/d3.js')}}"></script>
    <script src="{{url_for('static', filename='javascript/d3-annotation.min.js')}}"></script>

</head>

<body>

<div id="genome"></div>
<div id="chromosome"></div>

<script src="{{url_for('static', filename='javascript/cytoband.js')}}"></script>

<div id="filter"></div>

<label for="start-coord">Start:</label>
<input type="text" id="start-coord" name="start-coord">
<label for="end-coord">End:</label>
<input type="text" id="end-coord" name="end-coord"><br><br>

<select id="path-selector" name="path-selector">
    <!-- The options will be appended here by the JavaScript -->
</select>
<input type="submit" value="Submit">

<div id="graph"></div>

<script src="{{url_for('static', filename='javascript/graph.js')}}"></script>
<script src="{{url_for('static', filename='javascript/graph-construct.js')}}"></script>

<script src="{{url_for('static', filename='javascript/draw-helper.js')}}"></script>
<script src="{{url_for('static', filename='javascript/graph-select.js')}}"></script>
<script src="{{url_for('static', filename='javascript/path-manager.js')}}"></script>

</body>
</html>

