<div id="keyboard-shortcuts" class="flex-1">

    <div class="k-info">
        <div class="k-label">Select segment</div>
        <div class="k-input"><kbd>Click</kbd></div>
    </div>
    <hr>
    <div class="k-info">
        <div class="k-label">Move node/multi-select</div>
        <div class="k-input"><kbd>Drag</kbd></div>
    </div>
    <hr>
    <div class="k-info">
        <div class="k-label">Pan view</div>
        <div class="k-input"><kbd>Shift</kbd> + <kbd>Drag</kbd></div>
    </div>
    <hr>
    <div class="k-info">
        <div class="k-label">Zoom in/out</div>
        <div class="k-input"><kbd>Shift</kbd> + <kbd>Scroll</kbd></div>
    </div>
    <hr>
    <div class="k-info">
        <div class="k-label">Pop open bubble</div>
        <div class="k-input"><kbd>Ctrl</kbd> + <kbd>Select</kbd></div>
    </div>
    <hr>
    <div class="k-info">
        <div class="k-label">Re-center</div>
        <div class="k-input"><kbd>Space</kbd></div>
    </div>


</div>