{% macro reference(title, github_link, description, image_src, paper_author, paper_title, journal, journal_info, doi) %}
    <h2>
        {{ title }}
        <a href="{{ github_link }}" target="_blank"><i class="fa-brands fa-github"></i></a>
    </h2>
    <p>{{ description }}</p>
    <div class="flex-row-left">
        <div class="flex-col">
            <img alt="{{ title }} logo" style="width:90px" src="{{ url_for('static', filename=image_src) }}">
        </div>
        <p>
            {{ paper_author }}. <b>{{ paper_title }}</b>. <i>{{ journal }}</i>. {{ journal_info }}.
            doi: <a href="https://doi.org/{{ doi }}" target="_blank">{{ doi }}</a>.
        </p>
    </div>
    <br><hr>
{% endmacro %}

<div id="citation-modal" class="modal">
    <div class="modal-content">

        <span id="citation-modal-close-button" class="modal-close">&times;</span>

            {{ reference(
                'PangyPlot',
                'https://github.com/ScottMastro/pangyplot',
                'Pangenome graph visualization software.',
                'images/pangyplot_logo.svg',
                'Mastromatteo, Scott',
                'PangyPlot: Coming soon',
                'Journal',
                '2024 XXX;Y(ZZZ):N-M',
                'DOI',
            ) }}

        <details>
            <summary>Supporting work</summary>

            {{ reference(
                'Human Pangenome Reference Consortium',
                'https://github.com/human-pangenomics/hpp_pangenome_resources',
                'Pangenome reference data source.',
                'images/hprc_logo.png',
                'Human Pangenome Reference Consortium',
                'A draft human pangenome reference',
                'Nature',
                '2023 May;617(7960):312-324',
                '10.1038/s41586-023-05896-x',
            ) }}

            {{ reference(
                'BubbleGun',
                'https://github.com/fawaz-dabbaghieh/bubble_gun',
                'Used for calculating graph hierarchical structure.',
                'images/bubble_gun_logo.png',
                'Dabbaghie F, Ebler J, Marschall T',
                'BubbleGun: enumerating bubbles and superbubbles in genome graphs',
                'Bioinformatics',
                '2022 Sep 2;38(17):4217-4219',
                '10.1093/bioinformatics/btac448',
            ) }}

        </details>
    </div>
</div>


<div id="info-modal" class="modal">
    <div class="modal-content">
        <span id="info-modal-close-button" class="modal-close">&times;</span>
        <h2>Welcome to PangyPlot</h2>

        <div style="display: flex; align-items: center; margin-bottom: 10px;">
            <i class="fa-solid fa-dna" style="font-size: 2em; color: #868686; margin-right: 10px;"></i>
            <p style="margin: 0;">
                PangyPlot is a tool designed for visualizing graph-based pangenome data. Currently, PangyPlot is set to visualize data from the <a href="https://www.nature.com/articles/s41586-023-05896-x" target="_blank">HPRC pangenome graph.</a>
            </p>
        </div>

        <div style="display: flex; align-items: center;">
            <i class="fa-solid fa-hammer" style="font-size: 2em; color: #868686; margin-right: 10px;"></i>
            <p style="margin: 0;">
                It is currently under active development and being prepared for publication. We plan to introduce additional features in the near future.
            </p>
        </div>


        <div style="display: flex; align-items: center;">
            <i class="fa-solid fa-hammer" style="font-size: 2em; color: #868686; margin-right: 10px;"></i>
            <p style="margin: 0;">
                To quickly run, select and "Example" button at the top of the page to view predefined regions. Or input your region of interest by dragging on the chromosome, choosing a gene or manually entering coordinates. Then click "Go". 
            </p>
        </div>
    </div>
</div>
