<img alt="PangyPlot logo" id="navbar-logo" src="{{ url_for('static', filename='images/pangyplot_logo.svg') }}">

<div class="navbar-button-container">
    <div class="navbar-button">
        <a href="https://pangyplot-docs.readthedocs.io/en/latest/" target="_blank">
            <i class="fa fa-book"></i>
            <div class="navbar-button-text">Docs</div>
        </a>
    </div>
</div>

<div class="navbar-button-container">
    <div class="navbar-button">
        <a href="https://github.com/ScottMastro/pangyplot" target="_blank">
        <i class="fa-brands fa-github"></i>
        <div class="navbar-button-text">GitHub</div>
        </a>
    </div>
</div>

<div class="navbar-button-container">
    <div id="citation-button" class="navbar-button">
        <a href="/citation">
        <i class="fa fa-quote-right"></i>
        <div class="navbar-button-text">Citation</div>
        </a>
    </div>
</div>

<div class="navbar-button-container">
    <div id="example-button" class="navbar-button">
        <a>
        <i class="fa-solid fa-vial"></i>
        <div class="navbar-button-text">Example</div>
        </a>
    </div>
</div>
<div class="navbar-button-container">
    <div id="example-button2" class="navbar-button">
        <a>
        <i class="fa-solid fa-vial"></i>
        <div class="navbar-button-text">Example2</div>
        </a>
    </div>
</div>

<div class="navbar-button-container">
    <div id="example-button3" class="navbar-button">
        <a>
        <i class="fa-solid fa-vial"></i>
        <div class="navbar-button-text">Example3</div>
        </a>
    </div>
</div>

<div class="navbar-blank"></div>