#graph-info {
    padding: 10px;
    background-color: var(--detail-box);
    border-radius: 5px;
    max-width: 20vw;
}

#info-debug-container{
    padding-left: 1em;
    background-color: lightcoral;
}

.info-label {
    margin-bottom: 5px;
    margin-right: 1em;
}
.info-value {
    font-weight: bold;
    margin-left: 3px;
}

.info-optional{
    display: none;
}