#color-div{
    display:flex;
}

#color-style-container{
    flex: 4;
} #color-node-container{
    flex: 2;
} #color-preset-container{
    flex: 4;
} #color-link-container{
    flex: 1;
} #color-background-container{
    flex: 1;
}

.color-style-btn {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    flex:1;
    padding: 5px;
    color: var(--font-color);
    font-size: small;

} .color-style-btn img {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: contain;
} .color-style-btn i{
    font-size: 2em !important;
    pointer-events:none;
}


#gradient-display {
    border: 1px solid var(--dark-green);
} #color-picker-manual{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#color-preset-container-content{
    column-gap: 4px !important;
    row-gap: 4px;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
} .preset-color {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex: 1;
}

.single-color-picker {
    display: flex;
    align-items: center;
    justify-content: center;
} 

input[type="color"] {
    cursor: pointer;
    height: 2em;
    border-radius: 2px;
    padding: 0;
    border-width: 0px;
    box-shadow: 1px 1px 3px 0px var(--font-color);
    margin: 1em;
}
