#go-button{
    flex: 1;
}

#coordinate-copy-button{
    flex: 1;
    height: 100%;
}

 #go-chrom-start-end{
    position: relative;
    flex: 4;
    display: flex;
    justify-content: space-around;
    border-radius: 5px;
    border-style: solid;
    border-color: var(--dark-green);
    padding: 5px;
    transition: background-color 0.3s;
    align-items: center;
}

.editable-textbox {
    width: 80%;
}

.important-text{
    color: var(--font-color);
    text-shadow:  2px 2px rgba(0, 0, 0, 0.1);
} .less-important-text{
    color: var(--font-color);
}
