#gene-search-container-content{
    display: flex;
    align-items: center;
    column-gap: 10px;
}
#gene-search-bar-container{
    flex:1;
    display: block;
}

#selected-gene-container{
    flex: 5;
    height: 100%;
    display: flex;
    column-gap: 10px;
}

#gene-search-bar{
    min-width: 8em;
    width: 95%;
}
.gene-selected-placeholder{
    flex: 1;
    min-height: 50px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.gene-selected-placeholder.placeholder-blank{
    border: 1px dashed var(--font-color) !important;
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.3) !important;
    pointer-events: none !important;
}

.suggestions-dropdown {
    display: none;
    position: absolute;
    border: 1px solid var(--font-color);
    border-top: none;
    z-index: 99;
    max-height: 20em;
    min-width: 20em;
    top: auto;
    left: 0;
    overflow-y: auto;
    background-color: var(--site-background);
}

.suggestions-dropdown.active {
    display: block;
}

.suggestion-item {
    color: var(--font-color);
    padding: 5px;
    outline: none;
    border-bottom: 2px dotted var(--lighter-green);
}

.suggestion-item:hover,
.suggestion-item:focus {
    cursor: pointer;
    background-color: var(--highlight);
}

.gene-item-line{
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: left;
    column-gap: 3px;
} .gene-item-chrom{
    background-color: var(--lighter-green);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-size: small;
    padding: 3px;
} .gene-item-name{
    font-weight: bold;
}

.gene-item-geneid{
    font-style: italic;
    font-size: xx-small;
} .gene-item-type{
    font-size: xx-small;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.gene-item-line1{
    font-size: small;
}.gene-item-line2{
    align-items: baseline !important;
    flex-wrap: wrap-reverse;
}
